<a href="https://colab.research.google.com/github/tahanaasir/Taha/blob/main/session_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program 1:
Write a program to print numbers from 1 to 10 using while loop.

In [ ]:
# using while loop, print 1 to 10 
count= 1

while count<=10:
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

Program 2: Consider a program that asks the user about places they love to visit. We can stop the while loop in this program by calling break as soon as the user enters the 'quit' value.

In [ ]:
# using while break, print the places you love to visit

city_name= '\nPlease enter the name the city that you would love to visit:'
city_name+= '\nEnter quit when you are finished'

while True:
 city= input(city_name)
 if city=='quit':
  break
 else:
  print('I would love to go to', city.title(), '!')

Please enter the name the city that you would love to visit:
Enter quit when you are finishedLA
I would love to go to La !

Please enter the name the city that you would love to visit:
Enter quit when you are finishedlas vegas
I would love to go to Las Vegas !

Please enter the name the city that you would love to visit:
Enter quit when you are finishedquit

Program 3:
Write a loop that counts from 1 to 10 but prints only the odd numbers in that range.

In [ ]:
# while loop -continue

count=0 
while count<10:
  count+=1
  if count%2==0:
    continue
  print(count)
else:
   print('Loop terminated as number exeeds 10')

1
3
5
7
9
Loop terminated as number exeeds 10

Program 4:
Write a program to print the all the elements in a list datatype using for loop.

In [ ]:
flowers=['jasmine', 'rose', 'sunflower', 'lily']
for flowers in flowers:
  print(flowers)

jasmine
rose
sunflower
lily

Program 5:
Create a dictionary data-type of a student with name, id and course.
Write a program to use all items, keys and values in the dictionary variable using for loop.

In [ ]:
student = {'name': 'Taha Nasir', 'id': 2022-519 , 'course': 'BSC CC'}
print('Display key-value pairs')
for key, value in student.items():  #Read all items
 print(f"\nKey: {key}")
 print(f"Value: {value}")

 print('\nDisplay only keys')
 for key in student.keys():
   print(key)

   print('\nDisplay only values')
   for value in student.values():
     print(value)

student['gender']= 'Male'
print(student)

Display key-value pairs

Key: name
Value: Taha Nasir

Display only keys
name

Display only values
Taha Nasir
1503
BSC CC
id

Display only values
Taha Nasir
1503
BSC CC
course

Display only values
Taha Nasir
1503
BSC CC

Key: id
Value: 1503

Display only keys
name

Display only values
Taha Nasir
1503
BSC CC
id

Display only values
Taha Nasir
1503
BSC CC
course

Display only values
Taha Nasir
1503
BSC CC

Key: course
Value: BSC CC

Display only keys
name

Display only values
Taha Nasir
1503
BSC CC
id

Display only values
Taha Nasir
1503
BSC CC
course

Display only values
Taha Nasir
1503
BSC CC
{'name': 'Taha Nasir', 'id': 1503, 'course': 'BSC CC', 'gender': 'Male'}

Program 7:
Make a list of the students with name, id and course and gender. Use for loop to print your list.

In [ ]:
student1= {'name': 'Ralph', 'id': '5', 'course': 'BSC CC'}
student2= {'name': 'Joe', 'id': '14', 'course': 'BSC CC'}
student3= {'name': 'Anaya', 'id': '10', 'course': 'BSC CC'}
student4= {'name': 'Kobe', 'id': '15', 'course': 'BSC CC'}
student= [student1,student2,student3,student4]
for std in student:
  print(std)

{'name': 'Ralph', 'id': '5', 'course': 'BSC CC'}
{'name': 'Joe', 'id': '14', 'course': 'BSC CC'}
{'name': 'Anaya', 'id': '10', 'course': 'BSC CC'}
{'name': 'Kobe', 'id': '15', 'course': 'BSC CC'}

Program 8:
Make a list called sandwich_orders and fill it with the names of various sandwiches. Then make an empty list called finished_sandwiches. Loop through the list of sandwich orders and print a message for each order, such as I made your tuna sandwich. As each sandwich is made, move it to the list of finished sandwiches. After all the sandwiches have been made, print a message listing each sandwich that was made.

In [ ]:
sandwich_orders=['Beef','Chicken','Turkey','Hotdog']
finished_sandwich=[]

while sandwich_orders:
  current_sandwich = sandwich_orders.pop()
  print("I made your " + current_sandwich + " sandwich.")
  finished_sandwich.append(current_sandwich)

print("\n")
print('Sandwich Orders:')
for sandwich in finished_sandwich:
  print(sandwich,'Sandwich')

I made your Hotdog sandwich.
I made your Turkey sandwich.
I made your Chicken sandwich.
I made your Beef sandwich.


Sandwich Orders:
Hotdog Sandwich
Turkey Sandwich
Chicken Sandwich
Beef Sandwich

Program 9:
Create a function called greet_user that display simple greetings. Call the function to displays message.

In [ ]:
#creating a function definition
def greet_user():
  print('Hello! My name is Taha Nasir.')
greet_user()

Hello! My name is Taha Nasir.

Program 10:
Define a function with parameter to display simple greetings.

In [ ]:
#funtions definition with parameter to Display a simple greeting 
def greet_user(username):
  print(f'Hello!, {username.title()}')
greet_user('Taha Nasir')

Hello!, Taha Nasir

Program  11:
Define a function with two parameters.

In [ ]:
#funtions definitions with two parameters
def student(name,id):
  print(f'\nStudent name is {name.title()} and ID is 2022519')
student(name = 'Taha', id = '2022519')

Student name is Taha and ID is 2022519