<a href="https://colab.research.google.com/github/tahanaasir/Taha/blob/main/Session_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program 1:
Declare 2 Tuples comprising of flowers and vegetables. 
i.	Access the elements of the tuples using index.
ii.	Access all the elements together in each tuple using index.
iii.	Access all the elements together in each tuple using for loop.

In [ ]:
tuple_1= ('jasmine', 'rose', 'lily', 'sunflower')
tuple_2= ('tomato', 'potato', 'cauliflower', 'onion')

print('The 1st element of tuple_1 is ',tuple_1[0])
print('The 2nd element of tuple_1 is ',tuple_1[1])
print('The 3rd element of tuple_1 is ',tuple_1[2])
print('The 4th element of tuple_1 is ',tuple_1[3])
print('The 1st element of tuple_2 is ',tuple_2[0])
print('The 2nd element of tuple_2 is ',tuple_2[1])
print('The 3rd element of tuple_2 is ',tuple_2[2])
print('The 4th element of tuple_2 is ',tuple_2[3])

print('The elements of tuple_1 is ',tuple_1[0:4])
print('The elements of tuple_2 is ',tuple_2[0:4])

print('tuple_1 elements are: ')
for i in tuple_1:
  print(i,end=' ')

print('tuple_1 elements are: ')
for i in tuple_2:
  print(i,end=' ')

The 1st element of tuple_1 is  jasmine
The 2nd element of tuple_1 is  rose
The 3rd element of tuple_1 is  lily
The 4th element of tuple_1 is  sunflower
The 1st element of tuple_2 is  tomato
The 2nd element of tuple_2 is  potato
The 3rd element of tuple_2 is  cauliflower
The 4th element of tuple_2 is  onion
The elements of tuple_1 is  ('jasmine', 'rose', 'lily', 'sunflower')
The elements of tuple_2 is  ('tomato', 'potato', 'cauliflower', 'onion')
tuple_1 elements are:
jasmine rose lily sunflower tuple_1 elements are:
tomato potato cauliflower onion

Declare 2 Tuples comprising of 4 leap years and 4 non leap years
i.	Print tuples
ii.	Concatenate 2 tuples
iii.	Multiple each tuple 3 times
iv.	Compare 2 tuples
v.	Find the length of tuples
vi.	Find the sum of elements in each of the tuples
vii.	Sort the elements in each of the tuples
viii.	Swap the tuples

In [ ]:
leap_year=(2024,2028,2032,2036)
non_leap_year=(2023,2025,2026,2027)

print('The list of leap years is ',leap_year[0:5])
print('The list non leap years is ',non_leap_year[0:5])

print('The list of leap year and non leap are:\n',leap_year+non_leap_year)

print(leap_year*3)

print(leap_year==non_leap_year)

print(len(leap_year))
print(len(non_leap_year))

print(sum(leap_year))
print(sum(non_leap_year))

print(sorted(leap_year))
print(sorted(non_leap_year))

leap_year,non_leap_year=non_leap_year,leap_year
print('4 leap years: ',leap_year)
print('4 non leap years: ',non_leap_year)

The list of leap years is  (2024, 2028, 2032, 2036)
The list non leap years is  (2023, 2025, 2026, 2027)
The list of leap year and non leap are:
 (2024, 2028, 2032, 2036, 2023, 2025, 2026, 2027)
(2024, 2028, 2032, 2036, 2024, 2028, 2032, 2036, 2024, 2028, 2032, 2036)
False
4
4
8120
8101
[2024, 2028, 2032, 2036]
[2023, 2025, 2026, 2027]
4 leap years:  (2023, 2025, 2026, 2027)
4 non leap years:  (2024, 2028, 2032, 2036)

Program 3:
Using lambda within function - write a program to double the number.

In [ ]:
def myfunc(n):
  return lambda a : a * n
mydoubler = myfunc(2) 
a = int(input('Enter the number to be doubled '))
print('The doubled value is ', mydoubler(a))

Enter the number to be doubled 77
The doubled value is  154