<a href="https://colab.research.google.com/github/tahanaasir/Taha/blob/main/Session_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cars=['toyota', 'bmw', 'nissan', 'mercedes']
print('enter your choice of car brand')
user_car_choice=str(input())
if user_car_choice in cars:
  print(user_car_choice.upper(),' is available.')

else:
  print('Sorry!', user_car_choice.upper(),' is not available.')

enter your choice of car brand
nissan
NISSAN  is available.

In [ ]:
cars=['toyota', 'bmw', 'nissan', 'mercedes']
print('enter your choice of car brand')
user_car_choice=str(input())
if user_car_choice in cars:
  print(user_car_choice.upper(),' is available.')

else:
  print('Sorry!', user_car_choice.upper(),' is not available.')

enter your choice of car brand
tesla
Sorry! TESLA  is not available.

In [ ]:
cars=['tesla', 'bently', 'rolls royce', 'astin martin']
colors=['baig', 'red', 'orange', 'white']
print('Enter your choice of car brand:')
user_car_choice=str(input())
if user_car_choice in cars:
  print(user_car_choice.title(),' is available')
  print('Enter choice of color:')
  user_color_choice=str(input())
  if user_color_choice in colors:
    print(user_color_choice.upper(),' color', user_car_choice.title(),' is available')
else:
  print('Sorry!', user_car_choice.title(),' car is not available')

Enter your choice of car brand:
tesla
Tesla  is available
Enter choice of color:
baig
BAIG  color Tesla  is available

In [ ]:
cars=['tesla', 'bently', 'rolls royce', 'astin martin']
colors=['baig', 'red', 'orange', 'white']
print('Enter your choice of car brand:')
user_car_choice=str(input())
if user_car_choice in cars:
  print(user_car_choice.title(),' is available')
  print('Enter choice of color:')
  user_color_choice=str(input())
  if user_color_choice in colors:
    print(user_color_choice.upper(),' color', user_car_choice.title(),' is available')
else:
  print('Sorry!', user_car_choice.title(),' car is not available')

Enter your choice of car brand:
honda
Sorry! Honda  car is not available

In [ ]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print pyramid of successsive numbers

n=int(input('Enter the number of rows:'))
for i in range(0,n):
  for j in range(0,i+1):
    print(j,end='')
  print()

Enter the number of rows:8
0
01
012
0123
01234
012345
0123456
01234567

In [ ]:
#print pyramid of successsive numbers

n=int(input('Enter the number of rows:'))
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end='')
  print()

Enter the number of rows:8
*
**
***
****
*****
******
*******
********

In [ ]:
for i in range(10,50,5):
  print(i,end=' ')

10 15 20 25 30 35 40 45

In [ ]:
for i in range(1,20,2):
  print(i,end=' ')

1 3 5 7 9 11 13 15 17 19

In [ ]:
n=int(input('Enter the number of rows:'))
for i in range(n,0,-1):
  for j in range(0,i-1):
    print("*",end='')
  print()

Enter the number of rows:8
*******
******
*****
****
***
**
*

In [ ]:
n=int(input('Enter the number of rows:'))
for i in range(n,0,-1):
  for j in range(0,i+1):
    print("*",end='')
  print()

Enter the number of rows:8
*********
********
*******
******
*****
****
***
**

In [ ]:
n=int(input('Enter the number of rows:'))
for i in range(n,0,-1):
  for j in range(0,i+1):
    print(j,end='')
  print()

Enter the number of rows:8
012345678
01234567
0123456
012345
01234
0123
012
01

In [ ]:
n=int(input('Enter the number of rows: '))
i=1
while i<=n:
  j=1
  while j<=i:
    print((i*2-1),end=' ')
    j=j+1
  i=i+1
  print()

Enter the number of rows: 7
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
11 11 11 11 11 11
13 13 13 13 13 13 13

In [ ]:
n=int(input('Enter the number of rows: '))
i=1
while i<=n:
  j=1
  while j<=i:
    print((i*2),end=' ')
    j=j+1
  i=i+1
  print()

Enter the number of rows: 7
2
4 4
6 6 6
8 8 8 8
10 10 10 10 10
12 12 12 12 12 12
14 14 14 14 14 14 14

In [ ]:
n=int(input('Enter the number of rows: '))
i=1
while i<=n:
  j=1
  while j<=i:
    print((i*1),end=' ')
    j=j+1
  i=i+1
  print()

Enter the number of rows: 8
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [ ]:
n=int(input('Enter the number of rows:'))
m = n
for i in range(0,n):
  for j in range(0, m):
    print(end=' ')

  m = m - 1
  for j in range(0, i + 1):
     print('*', end=' ')
  print()

Enter the number of rows:8
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *