<a href="https://colab.research.google.com/github/tahanaasir/Taha/blob/main/Session_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program 1: 
Write a program to print a number only if it is positive.

In [ ]:
#writing a program to print a number only if it is positive

x = 7
if x>0:
  print(x, ' is positive.')

7  is positive.

Program 2: 
Take two numbers from the user and print the first number only if it is smaller than the second number.

In [ ]:
#asking two numbers from the user and print the first number only if it is smaller than the second number

print('Enter first number: ')
x=int(input())
print('Enter second number: ')
y=int(input())

if x<y:
  print(x,' is smaller number than second number.')

Enter first number:
23
Enter second number:
45
23  is smaller number than second number.

Program 3: 
Take two numbers from the user, compare and print the smaller number.

In [ ]:
#asking two numbers from the user, compare and print the smaller number

print('Enter first number: ')
x=int(input())
print('Enter second number: ')
y=int(input())

if x<y:
  print(x,' is smaller number than ', y)

else:
  print(y,' is smaller number than ', x)

Enter first number:
23
Enter second number:
111111
23  is smaller number than  111111

Program 4: 
Take two numbers from the user, compare and print the smaller number. Also consider a condition where both the numbers can be same.

In [ ]:
#asking two numbers from the user, comparing and printing smaller number.

print('Enter first number: ')
x=int(input())
print('Enter second number: ')
y=int(input())

if x<y:
  print(x,' is smaller than', y)

elif x==y:
  print(x,' is the first number and', y,' is the second number and both are equal.')

else:
  print(y,' is the second number and it is smaller than first number',x)

Enter first number:
6
Enter second number:
6
6  is the first number and 6  is the second number and both are equal.

Program 5:  
Write a program for a shipment company is having the following offer-
For US: $50 for first 50 shipments and $25 for more than 5 shipments
For Australia: $150 for first 100 shipments and $15 for more than 100 shipments.

In [ ]:
print('Select country: US\Australia')
country=str(input())
print('Enter number of shipments')
shipment=int(input())

if country=='US':
  if shipment<=50:
    print('Shipping cost is $50.')
  elif shipment>50:
    print('Shipment cost is $25.')
  else:
    print('Please contact customer service.')
else:
  if country == 'Australia':
    if shipment<=150:
      print('Shipping cost is $100.')
    elif shipment>150:
      print('Shipment cost is $15.')
    else:
      print('Please contact our customer service.')

Select country: US\Australia
US
Enter number of shipments
1000
Shipment cost is $25.

Program 6:
•	Create a list of flowers comprising of 3 flowers
•	Print the list
•	Access list elements using index function ( index value will be placed within the square bracket after the variable name)
•	Replace the first element of the list with some other flower	
•	add an element at the end of the list use append() function
•	insert elements in the list use the insert() function.
•	Remove element in a List using value
•	Remove last element in a List using pop() function
•	Sort list alphabetically

In [ ]:
flowers=["rose","jasmine","sunflower","lily"]
print("rose","jasmine","sunflower")
print(flowers[0])
print(flowers[1])
print(flowers[2])
flowers[3]="lily"
flowers.append("lily")
flowers.insert(3,"lilly")
flowers.insert(0,"rose")
flowers.insert(1,"jasmine")
flowers.insert(2,"sunflower")
print(flowers)
flowers.remove("lily")
popped=flowers.pop()
print(popped)
print(flowers)
print(flowers)
flowers.sort()
print(flowers)
flowers.reverse()
print(flowers)
del flowers [0:3]

rose jasmine sunflower
rose
jasmine
sunflower
['rose', 'jasmine', 'sunflower', 'rose', 'jasmine', 'sunflower', 'lilly', 'lily', 'lily']
lily
['rose', 'jasmine', 'sunflower', 'rose', 'jasmine', 'sunflower', 'lilly']
['rose', 'jasmine', 'sunflower', 'rose', 'jasmine', 'sunflower', 'lilly']
['jasmine', 'jasmine', 'lilly', 'rose', 'rose', 'sunflower', 'sunflower']
['sunflower', 'sunflower', 'rose', 'rose', 'lilly', 'jasmine', 'jasmine']

Program 7: 
Write a program to create a dictionary comprising of students name, id, Course. Print the dictionary and each element of the dictionary separately.

In [ ]:
student={'Name':'Taha Nasir','id':'10','Course':'Creative Computing'}
print(student)
print(student['Name'])
print(student['id'])
print(student['Course'])

{'Name': 'Taha Nasir', 'id': '10', 'Course': 'Creative Computing'}
Taha Nasir
10
Creative Computing